<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<!--<form th:method="POST" th:action="@{/addUser}" th:object="${user}">-->
<form th:method="POST" th:action="@{/addUser}" th:object="${user}">
    <label for="firstName">Имя: </label>
    <input type="text" th:field="*{firstName} " id="firstName" required placeholder="Имя" />
<!--    +++++++++-->
<!--    если в теге div if=true, то этот тег div будет показываться. Сообщение об ошибке будет вставляться с помощью таймлифа-->
    <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName Error</div>
    <label for="lastName">Фамилия: </label>
    <input type="text" th:field="*{lastName}" id="lastName" required placeholder="Фамилия"/>
        <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</div>

    <label for="age">Возраст: </label>
    <input type="text" th:field="*{age}" id="age" required placeholder="Возраст"/>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age Error</div>

    <label for="email">Email: </label>-->
    <input type="text" th:field="*{email}" id="email" required placeholder="Email"/>
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>

    <br/>
    <input type="submit" value="Создать пользователя!"/>
</form>

</body>
</html>